@page "/CountAndSay"
@page "/CountAndSay/{Number:int?}"
@using Microsoft.Extensions.Localization
@using apb97.github.io.Shared

@inject IStringLocalizer<CountAndSay> Localizer
@inject NavigationManager Navigation

<PageTitle>Adrian Bieliński - @Localizer["Count and say"]</PageTitle>

<h1>@Localizer["Count and say"]</h1>
<hr/>
<h4>@Localizer["Challenge description"]</h4>
<p>
    @Localizer["The count-and-say sequence is a sequence"]:
</p>
<ul>
    <li>
        <code>@Localizer["functionName"] (1) = "1"</code>
    </li>
    <li>
        <code>@Localizer["functionName"] (n)</code> @Localizer["is the way you would 'say' the digit string from"]
        <code>@Localizer["functionName"] (n-1)</code>, @Localizer["which is then converted into a different digit string"].
    </li>
</ul>

@Localizer["To determine how you"]
@Localizer["Then for each group, say"]
@Localizer["To convert the saying"]

<h4>@Localizer["Note"]</h4>
<p>@Localizer["You can use the url like"] <a href="https://apb97.github.io/CountAndSay/12#output">https://apb97.github.io/CountAndSay/12#output</a> @Localizer["for any number between"] 1 @Localizer["and"] 30.</p>

<CountAndSayComponent NumberOfSayings="Number" OnNumberChanged="OnNumberChanged" />

@code {
    [Parameter]
    public int? Number { get; set; }

    private void OnNumberChanged(int? number)
    {
        if (number.HasValue)
        {
            Navigation.NavigateTo($"/CountAndSay/{number.Value}#{CountAndSayComponent.OutputId}");
        }
    }
}