@page "/CountAndSay"
@page "/CountAndSay/{Number:int?}"
@using Microsoft.Extensions.Localization
@using apb97.github.io.Shared

@inject IStringLocalizer<CountAndSay> Localizer
@inject NavigationManager Navigation

<PageTitle>Adrian Bieliński - @LanguageSelect.GetStringSafely(Localizer,"Count and say", Layout.Language)</PageTitle>

<h1>@LanguageSelect.GetStringSafely(Localizer,"Count and say", Layout.Language)</h1>
<hr/>
<h4>@LanguageSelect.GetStringSafely(Localizer,"Challenge description", Layout.Language)</h4>
<p>
    @LanguageSelect.GetStringSafely(Localizer,"The count-and-say sequence is a sequence", Layout.Language):
</p>
<ul>
    <li>
        <code>@LanguageSelect.GetStringSafely(Localizer,"functionName", Layout.Language) (1) = "1"</code>
    </li>
    <li>
        <code>@LanguageSelect.GetStringSafely(Localizer,"functionName", Layout.Language) (n)</code> @LanguageSelect.GetStringSafely(Localizer,"is the way you would 'say' the digit string from", Layout.Language)
        <code>@LanguageSelect.GetStringSafely(Localizer,"functionName", Layout.Language) (n-1)</code>, @LanguageSelect.GetStringSafely(Localizer,"which is then converted into a different digit string", Layout.Language).
    </li>
</ul>

@LanguageSelect.GetStringSafely(Localizer,"To determine how you", Layout.Language)
@LanguageSelect.GetStringSafely(Localizer,"Then for each group, say", Layout.Language)
@LanguageSelect.GetStringSafely(Localizer,"To convert the saying", Layout.Language)

<h4>@LanguageSelect.GetStringSafely(Localizer,"Note", Layout.Language)</h4>
<p>@LanguageSelect.GetStringSafely(Localizer,"You can use the url like", Layout.Language) <a href="https://apb97.github.io/CountAndSay/12#output">https://apb97.github.io/CountAndSay/12#output</a> @LanguageSelect.GetStringSafely(Localizer,"for any number between", Layout.Language) 1 @LanguageSelect.GetStringSafely(Localizer,"and", Layout.Language) 30.</p>

<CountAndSayComponent NumberOfSayings="Number" OnNumberChanged="OnNumberChanged" />

@code {
    [CascadingParameter]
    public required MainLayout Layout { get; set; }

    [Parameter]
    public int? Number { get; set; }

    private void OnNumberChanged(int? number)
    {
        if (number.HasValue)
        {
            Navigation.NavigateTo($"/CountAndSay/{number.Value}#{CountAndSayComponent.OutputId}");
        }
    }
}