@page "/CountAndSay"
@page "/CountAndSay/{Number:int?}"
@using System.Text
@using apb97.github.io.Shared

@inject UtilityService utilities
@inject NavigationManager Navigation
@inject CountAndSayService Service

<LocalizedComponent T="CountAndSay" Context="Loc" GetAdditionalResources="GetAdditionalResources" @ref="localizer">
    <PageTitle>Adrian Bieliński - @Loc["Count and say"]</PageTitle>

    <AdjustedAnchorHeading Id="" Heading="@Loc["Count and say"]" IncludeId="Loc.IsReady" />
    <hr/>
    <AdjustedAnchorHeading Id="description" Heading="@Loc["Challenge description"]" FontSize="smaller" IncludeId="Loc.IsReady" />
    <p>
        @Loc["The count-and-say sequence is a sequence"]:
    </p>
    <ul>
        <li>
            <code>@Loc["functionName"] (1) = "1"</code>
        </li>
        <li>
            <code>@Loc["functionName"] (n)</code> @Loc["is the way you would 'say' the digit string from"]
            <code>@Loc["functionName"] (n-1)</code>, @Loc["which is then converted into a different digit string"].
        </li>
    </ul>

    <span>@Loc["To determine how you"]</span>
    <span>@Loc["Then for each group, say"]</span>
    <span>@Loc["To convert the saying"]</span>

    <AdjustedAnchorHeading Id="note" Heading="@Loc["Note"]" FontSize="smaller" IncludeId="Loc.IsReady" />
    <p>@Loc["You can use the url"]</p>

    <div>
        <AdjustedAnchorHeading Id="input" Heading="@Loc["Input"]" FontSize="smaller" IncludeId="Loc.IsReady" />

        <div class="row">
            <div class="card-group">
                <label for="number" style="margin: 4px">@Loc["NumberOfSayings"]</label>
                <InputNumber id="number" TValue="int?" Value="Number" ValueExpression="() => Number" ValueChanged="OnNumberChanged" type="number" min="1" max="30" style="margin: 4px" />
            </div>
        </div>

        @{
            var results = GetResults();
        }
        <hr />
        <AdjustedAnchorHeading Id="@OutputId" FontSize="smaller" Heading="@Loc["Output"]" IncludeId="Loc.IsReady" />
        <div class="row">
            <div class="card-group">
                <span style="margin: 4px">@Loc["Result"]</span>

                <code role="status" style="margin: 3px; font-size:large; overflow-wrap: anywhere">
                    @results.result
                </code>
            </div>
        </div>

        <h4>@Loc["Explanation"]</h4>
        <div class="row">
            <p role="status">
                @{
                    int i = 1;
                    foreach (var explanation in results.explanation)
                    {
                        <p>
                            <b>@(++i): </b>
                                @explanation
                        </p>
                    }
                }
            </p>
        </div>
    </div>
</LocalizedComponent>

<NavigationByIdFix @ref="navFix" />

@code 
{
    public const string OutputId = "output";

    [Parameter]
    public int? Number { get; set; }

    private LocalizedComponent<CountAndSay>? localizer;

    private NavigationByIdFix? navFix;

    SemaphoreSlim semaphore = new SemaphoreSlim(1, 1);

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender || navFix is null || localizer is null) return;
        while (!localizer.IsReady)
            await Task.Delay(25);
        var target = Navigation.Uri.Replace(Navigation.BaseUri, string.Empty);
        await navFix.ScrollToElementFixAsync(Navigation, target);
    }

    private async Task OnNumberChanged(int? number)
    {
        if (number.HasValue && number != Number)
        {
            if (navFix is null) return;
            if (semaphore.CurrentCount == 0) return;
            try
            {
                string target = $"/CountAndSay/{number.Value}#{OutputId}";
                Navigation.NavigateTo(target);
                await navFix.ScrollToElementFixAsync(Navigation, target);
                await Task.Delay(75);
            }
            finally
            {
                semaphore.Release();
            }
        }
    }

    private async Task GetAdditionalResources(string culture)
    {
        await Service.InitializeAsync(culture);
    }

    protected (string result, IEnumerable<string> explanation) GetResults()
    {
        if (!Number.HasValue)
        {
            return (string.Empty, Array.Empty<string>());
        }

        try
        {
            var stringBuilder = new StringBuilder();
            var result = Service.CountAndSay(Number.Value, stringBuilder);
            return (result, stringBuilder.ToString().Split("<br/>", StringSplitOptions.RemoveEmptyEntries));
        }
        catch (ArgumentOutOfRangeException)
        {
            return (localizer?["Out of range"] ?? string.Empty, Array.Empty<string>());
        }
    }
}