@page "/LearningProgress/{Year:int=2024}"

@using Microsoft.Extensions.Localization
@using System.Reflection;
@using apb97.github.io.Shared
@inject IStringLocalizer<LearningProgress> Localizer
@inject NavigationManager Navigation

<PageTitle>@Localizer["LearningProgress"] @Year</PageTitle>

<h2>@Localizer["LearningProgress"]</h2>

<label>@Localizer["Year"]</label>
<InputNumber TValue="int" Value="Year" ValueChanged="OnYearChanged" ValueExpression="() => Year" min="@MinYear" max="@RecentYear" />

<DynamicComponent Type="GetDynamicComponentType(Year)" />

@code {
    [Parameter]
    public int Year { get; set; } = RecentYear;

    private const int MinYear = 2022;
    private const int RecentYear = 2024;

    private Type GetDynamicComponentType(int year)
    {
        var assembly = Assembly.GetAssembly(typeof(LearningProgress2024));
        var currentYearType = assembly?.GetType($"apb97.github.io.Shared.LearningProgress{year}");
        return currentYearType ?? typeof(LearningProgress2024);
    }

    private void OnYearChanged(int year)
    {
        if (year > RecentYear)
        {
            Navigation.NavigateTo($"/LearningProgress/{RecentYear}");
        }
        else if (year < MinYear)
        {
            Navigation.NavigateTo($"/LearningProgress/{MinYear}");
        }
        else
        {
            Navigation.NavigateTo($"/LearningProgress/{year}");
        }
    }
}