@using Microsoft.Extensions.Localization
@inject IStringLocalizer<AboutMe> Localizer
@inject IJSRuntime JS

<div class="row">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="col-8 flex-column">
                <div class="d-flex flex-column">
                    <AdjustedAnchorHeading Id="aboutme">@Localizer["About me"] - @Localizer["whoami"]</AdjustedAnchorHeading>
                    <h5>@Localizer["iam_short"]</h5>
                </div>

                <p>
                    @Localizer["iam_long"]
                </p>
                
                <p><b>@Localizer["degree_label"]</b>@Localizer["degree"]</p>

                <HiddenForScreenWidth HideForWidthCondition="width => width < 992">
                    <Projects />
                </HiddenForScreenWidth>
            </div>
            <div class="col-4">
                <img src="/images/AboutMe.jpg" alt="A picture of myself" style="width: 100%; max-width: 368px; max-height: 552px;" />
            </div>
        </div>
        <HiddenForScreenWidth HideForWidthCondition="width => width >= 992">
            <Projects />
        </HiddenForScreenWidth>
        <Challenges />
        <Skills />
        @BulletPointsFragment
    </div>
</div>

@code {
    private RenderFragment BulletPointsFragment => __builder =>
    {
        <div class="d-flex">
            <div class="col-6 p-2">
                <p>@Localizer["Technologies I use daily:"]</p>
                <ul>
                    <li>.NET 8</li>
                    <li>C# 12</li>
                    <li>ASP.NET Core</li>
                    <li>Blazor</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>GraphQL</li>
                    <li>PostgreSQL</li>
                    <li>@Localizer["OOP"]</li>
                    <li>@Localizer["ORM"]</li>
                    <li>@Localizer["DI"]</li>
                </ul>
            </div>
            <div class="col-6 p-2">
                <p>@Localizer["Other supporting technologies:"]</p>
                <ul>
                    <li>Git</li>
                    <li>JSON</li>
                    <li>SQL</li>
                    <li>YAML</li>
                    <li>Linux</li>
                    <li>@Localizer["Containers"]</li>
                    <li>Podman</li>
                    <li>Usernetes</li>
                </ul>
            </div>
        </div>
    };
}