@using apb97.github.io.Services

@implements IDisposable
@inject IStringLocalizer<AboutMe> Localizer
@inject IJSRuntime JS

<div class="row">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row">
            <div class="col-8 flex-column">
                <div class="d-flex flex-column">
                    <AdjustedAnchorHeading Id="aboutme">@LanguageSelect.GetStringSafely(Localizer, "About me", Layout.Language)</AdjustedAnchorHeading>
                    <h5>@LanguageSelect.GetStringSafely(Localizer, "iam_short", Layout.Language)</h5>
                </div>

                <p>
                    @LanguageSelect.GetStringSafely(Localizer, "iam_long", Layout.Language)
                </p>
                
                <p class="m-0">
                    <b>@LanguageSelect.GetStringSafely(Localizer, "degree_label", Layout.Language)</b>
                    @LanguageSelect.GetStringSafely(Localizer, "degree", Layout.Language)
                </p>
                <p class="m-0">
                    <b>@LanguageSelect.GetStringSafely(Localizer, "status_label", Layout.Language)</b>
                    @LanguageSelect.GetStringSafely(Localizer, "status", Layout.Language)
                </p>

                <HiddenForScreenWidth HideForWidthCondition="width => width < ScreenBreakpoints.Large">
                    <Projects />
                </HiddenForScreenWidth>
            </div>
            <div class="col-4">
                <img src="/images/AboutMe.jpg" alt="A picture of myself" style="width: 100%; max-width: 368px; max-height: 552px;" />
            </div>
        </div>
        <HiddenForScreenWidth HideForWidthCondition="width => width >= ScreenBreakpoints.Large">
            <Projects />
        </HiddenForScreenWidth>
        <Challenges />
        <Skills />
        @BulletPointsFragment
    </div>
</div>

@code {
    [CascadingParameter]
    public required MainLayout Layout { get; set; }

    protected override void OnInitialized()
    {
        MainLayout.OnStateChanging += StateHasChanged;
    }

    void IDisposable.Dispose()
    {
        MainLayout.OnStateChanging -= StateHasChanged;
    }

    private RenderFragment BulletPointsFragment => __builder =>
    {
        <div class="d-flex">
            <div class="col-6 p-2">
                <p>@LanguageSelect.GetStringSafely(Localizer, "Technologies I use daily:", Layout.Language)</p>
                <ul>
                    <li>.NET 8</li>
                    <li>C# 12</li>
                    <li>ASP.NET Core</li>
                    <li>Blazor</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>GraphQL</li>
                    <li>PostgreSQL</li>
                    <li>@LanguageSelect.GetStringSafely(Localizer, "OOP", Layout.Language)</li>
                    <li>@LanguageSelect.GetStringSafely(Localizer, "ORM", Layout.Language)</li>
                    <li>@LanguageSelect.GetStringSafely(Localizer, "DI", Layout.Language)</li>
                </ul>
            </div>
            <div class="col-6 p-2">
                <p>@LanguageSelect.GetStringSafely(Localizer, "Other supporting technologies:", Layout.Language)]</p>
                <ul>
                    <li>Git</li>
                    <li>JSON</li>
                    <li>SQL</li>
                    <li>YAML</li>
                    <li>Linux</li>
                    <li>@LanguageSelect.GetStringSafely(Localizer, "Containers", Layout.Language)</li>
                    <li>Podman</li>
                    <li>Usernetes</li>
                </ul>
            </div>
        </div>
    };
}