@using System.Resources

@implements IDisposable
@inject IJSRuntime JS
@inject APB97StringLocalizerFactory LocalizationFactory
@inject APB97StringLocalizer<AboutMe> localization

@if (ShouldRender())
{
    <div class="row">
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                <div class="col-8 flex-column">
                    <div class="d-flex flex-column">
                        <AdjustedAnchorHeading Id="aboutme">@localization.Localize("About me")</AdjustedAnchorHeading>
                        <h5>@localization.Localize("iam_short")</h5>
                    </div>

                    <p>
                        @localization.Localize("iam_long")
                    </p>
                
                    <p class="m-0">
                        <b>@localization.Localize("degree_label")</b>
                        @localization.Localize("degree")
                    </p>
                    <p class="m-0">
                        <b>@localization.Localize("status_label")</b>
                        @localization.Localize("status")
                    </p>

                    <HiddenForScreenWidth HideForWidthCondition="width => width < ScreenBreakpoints.Large">
                        <Projects />
                    </HiddenForScreenWidth>
                </div>
                <div class="col-4">
                    <img src="/images/AboutMe.jpg" alt="A picture of myself" style="width: 100%; max-width: 368px; max-height: 552px;" />
                </div>
            </div>
            <HiddenForScreenWidth HideForWidthCondition="width => width >= ScreenBreakpoints.Large">
                <Projects />
            </HiddenForScreenWidth>
            <Challenges />
            <Skills />
            @BulletPointsFragment
        </div>
    </div>
}

@code {
    protected override bool ShouldRender()
    {
        if (localization.Localization == null) return false;
        return base.ShouldRender();
    }

    protected override async Task OnInitializedAsync()
    {
        localization = new APB97StringLocalizer<AboutMe>(LocalizationFactory);
        await localization.InitializeAsync(LanguageSelect.Culture);
    }

    protected override void OnInitialized()
    {
        MainLayout.OnStateChanging += GetResources;
    }

    void IDisposable.Dispose()
    {
        MainLayout.OnStateChanging -= GetResources;
    }

    private async Task GetResources()
    {
        localization = new APB97StringLocalizer<AboutMe>(LocalizationFactory);
        await localization.InitializeAsync(LanguageSelect.Culture);
        StateHasChanged();
    }

    private RenderFragment BulletPointsFragment => __builder =>
    {
        <div class="d-flex">
            <div class="col-6 p-2">
                <p>@localization.Localize("Technologies I use daily:")</p>
                <ul>
                    <li>.NET 8</li>
                    <li>C# 12</li>
                    <li>ASP.NET Core</li>
                    <li>Blazor</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>GraphQL</li>
                    <li>PostgreSQL</li>
                    <li>@localization.Localize("OOP")</li>
                    <li>@localization.Localize("ORM")</li>
                    <li>@localization.Localize("DI")</li>
                </ul>
            </div>
            <div class="col-6 p-2">
                <p>@localization.Localize("Other supporting technologies:")</p>
                <ul>
                    <li>Git</li>
                    <li>JSON</li>
                    <li>SQL</li>
                    <li>YAML</li>
                    <li>Linux</li>
                    <li>@localization.Localize("Containers")</li>
                    <li>Podman</li>
                    <li>Usernetes</li>
                </ul>
            </div>
        </div>
    };
}