@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Challenges> Localizer
@inject IJSRuntime JS

<AdjustedAnchorHeading Id="challenges">@Localizer["Challenges"]</AdjustedAnchorHeading>

<div class="d-flex">
    <div class="skill-card">
        <h4 class="text-center">@Localizer["Integer to Roman"]</h4>
        <div class="text-center">
            <a class="link-primary" href="/IntegerToRoman">@Localizer["See this challenge"]</a>
        </div>
    </div>
    <div class="skill-card">
        <h4 class="text-center">@Localizer["Count and say"]</h4>
        <div class="text-center">
            <a class="link-primary" href="/CountAndSay">@Localizer["See this challenge"]</a>
        </div>
    </div>
</div>

@code{
}
