@using System.Text
@using apb97.github.io.Pages
@using apb97.github.io.Services
@inject CountAndSayService Service
@inject IStringLocalizer<CountAndSay> Localizer

<div>
    <h4>@LanguageSelect.GetStringSafely(Localizer, "Input", Layout.Language)</h4>

    <div class="row">
        <div class="card-group">
            <label for="Number" style="margin: 4px">@LanguageSelect.GetStringSafely(Localizer, "NumberOfSayings", Layout.Language)</label>
            <InputNumber TValue="int?" Value="NumberOfSayings" ValueExpression="() => NumberOfSayings" ValueChanged="OnNumberChanged" type="number" min="1" max="30" style="margin: 4px"/>
        </div>
    </div>

    @{
        var results = GetResults();
    }
    <hr />
    <AdjustedAnchorHeading Id="@OutputId" FontSize="smaller">@LanguageSelect.GetStringSafely(Localizer, "Output", Layout.Language)</AdjustedAnchorHeading>
    <div class="row">
        <div class="card-group">
            <label style="margin: 4px">@LanguageSelect.GetStringSafely(Localizer, "Result", Layout.Language)</label>

            <code role="status" style="margin: 3px; font-size:large; overflow-wrap: anywhere">
                @results.result
            </code>
        </div>
    </div>

    <h4>@LanguageSelect.GetStringSafely(Localizer, "Explanation", Layout.Language)</h4>
    <div class="row">
        <p role="status">
            @{
                int i = 1;
                foreach (var explanation in results.explanation)
                {
                    <p>
                        <b>@(++i): </b>
                        @explanation
                    </p>
                }
            }
        </p>
    </div>
</div>

@code {
    public const string OutputId = "output";

    [CascadingParameter]
    public required MainLayout Layout { get; set; }

    [Parameter]
    public int? NumberOfSayings { get; set; }

    [Parameter]
    public Action<int?> OnNumberChanged { get; set; } = delegate { };

    protected (string result, IEnumerable<string> explanation) GetResults()
    {
        if (!NumberOfSayings.HasValue)
        {
            return (string.Empty, Array.Empty<string>());
        }

        try
        {
            var stringBuilder = new StringBuilder();
            var result = Service.CountAndSay(NumberOfSayings.Value, stringBuilder);
            return (result, stringBuilder.ToString().Split("<br/>", StringSplitOptions.RemoveEmptyEntries));
        }
        catch (ArgumentOutOfRangeException)
        {
            return (LanguageSelect.GetStringSafely(Localizer, "Out of range", Layout.Language) ?? string.Empty, Array.Empty<string>());
        }
    }
}
