@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LearningProgress2024> Localizer

<h3>@Localizer["Year2024"]</h3>

<ul>
    <li>
        <h4>@Localizer["C# features"]</h4>
        <ul>
            <li>
                <b>@Localizer["Records"]</b>
                <br/>
                <p>@Localizer["Records description"]</p>
                <ul>
                    <li>@Localizer["Concise syntax for reference types"]</li>
                    <li>@Localizer["Built-in value equality"]</li>
                    <li>@Localizer["Built-in concise syntax for nondesctructive mutation"]</li>
                    <li>@Localizer["Built-in formatting"]</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h4>@Localizer["NuGet packages"]</h4>
        <ul>
            <li>
                <b>StrawberryShake</b>
                <br />
                <p>@Localizer["StrawberryShake description"]</p>
            </li>
        </ul>
    </li>
</ul>
