@inject IStringLocalizer<LearningProgress2022> Localizer

<h3>@LanguageSelect.GetStringSafely(Localizer,"Year2022-last-weeks", Layout.Language)</h3>
<ul>
    <li>
        <h4>C#</h4>
        <ul>
            <li>
                <b>@LanguageSelect.GetStringSafely(Localizer,"Extended property pattern", Layout.Language)</b>
                <br />
                <p>@LanguageSelect.GetStringSafely(Localizer,"Extended property pattern description", Layout.Language)</p>
                <b>@LanguageSelect.GetStringSafely(Localizer,"Example", Layout.Language)</b>
                <br />
                <CodeView Code="@LanguageSelect.GetStringSafely(Localizer,"Extended property pattern code", Layout.Language)"></CodeView>
            </li>
            <li>
                <b>@LanguageSelect.GetStringSafely(Localizer,"Global using directive", Layout.Language)</b>
                <br />
                <p>@LanguageSelect.GetStringSafely(Localizer,"Global using directive description", Layout.Language)</p>
                <b>@LanguageSelect.GetStringSafely(Localizer,"Example", Layout.Language)</b>
                <br />
                <CodeView Code="@LanguageSelect.GetStringSafely(Localizer,"Global using directive code", Layout.Language)" />
            </li>
            <li>
                <b>@LanguageSelect.GetStringSafely(Localizer,"File-scoped namespace declaration", Layout.Language)</b>
                <br />
                <p>@LanguageSelect.GetStringSafely(Localizer,"File-scoped namespace declaration description", Layout.Language)</p>
                <b>@LanguageSelect.GetStringSafely(Localizer,"Example", Layout.Language)</b>
                <br />
                <CodeView Code="@LanguageSelect.GetStringSafely(Localizer,"File-scoped namespace declaration code", Layout.Language)" />
            </li>
        </ul>
    </li>
</ul>

@code {
    [CascadingParameter]
    public required MainLayout Layout { get; set; }
}