@inherits Base.LocalizedComponent<LearningProgress2025>

<h3>@Loc["Year2025"]</h3>

<ul>
    <li>
        <h4>@Loc["C# 14 Features"]</h4>

        <ul>
            <li>
                <b>@Loc["nameof support for unbound generic types"]</b>
                <br />
                <p>@Loc["nameof support for unbound generic types description"]</p>
            </li>

            <li>
                <b>@Loc["field contextual keyword"]</b>
                <br />
                <p>@Loc["field contextual keyword description"]</p>

                <a class="link-primary" href="https://learn.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-14#the-field-keyword" target="_blank" rel="noopener">
                    @Loc["Example from documentation"]
                </a>
                
                <p />
            </li>

            <li>
                <b>@Loc["New extension block for methods and properties"]</b>
                <br />
                <p>@Loc["New extension block for methods and properties description"]</p>

                <a class="link-primary" href="https://learn.microsoft.com/en-us/dotnet/csharp/whats-new/csharp-14#extension-members" target="_blank" rel="noopener">
                    @Loc["Example from documentation"]
                </a>
                
                <p />
            </li>
        </ul>
    </li>

    <li>
        <h4>@Loc["EF Core Features"]</h4>

        <ul>
            <li>
                <b>@Loc["AsSplitQuery vs AsSingleQuery"]</b>
                <br />
                <p>@Loc["AsSplitQuery vs AsSingleQuery description"]</p>

                <a class="link-primary" href="https://learn.microsoft.com/en-us/ef/core/querying/single-split-queries#split-queries" target="_blank" rel="noopener">
                    @Loc["Example from documentation"]
                </a>

                <p />
            </li>
        </ul>
    </li>

    <li>
        <h4>@Loc["Python 3"]</h4>

        <ul>
            <li>
                <b>@Loc["Python Basics"]</b>
                <br />
                <p>@Loc["Python Basics description"]</p>
            </li>

            <li>
                <b>@Loc["Python Advanced topics"]</b>
                <br />
                <p>@Loc["Python Advanced topics description"]</p>
            </li>
        </ul>
    </li>

    <li>
        <h4>@Loc["Poetry"]</h4>

        <ul>
            <li>
                <b>@Loc["Using Poetry"]</b>
                <br />
                <p>@Loc["Using Poetry description"]</p>
            </li>

            <li>
                <b>@Loc["pyproject.toml for Poetry"]</b>
                <br />
                <p>@Loc["pyproject.toml for Poetry description"]</p>
            </li>
        </ul>
    </li>
</ul>

@code {
}
