@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NavMenu> Localizer
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">apb97.github.io</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="overflow-y: scroll; max-height: calc(100vh - var(--footer-height) - 3.5rem); min-height: min-content;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @Localizer["Home"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LearningProgress" Match="NavLinkMatch.All">
                @Localizer["LearningProgress"]
            </NavLink>
        </div>

        <p class="text-white">@Localizer["Projects"]</p>
        <div class="nav-item px-3">
            <a class="nav-link">
                <button @onclick="@(() => Navigation.NavigateTo("/WebSudoku", true))" style="background-color: transparent; width: 100%; text-align: left; border: none; color: white">
                    @Localizer["Web Sudoku"]
                </button>
            </a>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MetadataRename">
                @Localizer["Metadata Rename"]
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotAndIntegrate">
                @Localizer["Plot and Integrate"]
            </NavLink>
        </div>

        <p class="text-white">@Localizer["Challenges"]</p>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IntegerToRoman">
                @Localizer["Integer to Roman"]
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="CountAndSay">
               @Localizer["Count and Say"]
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
