@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<NavMenu> Localizer
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">apb97.github.io</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" style="overflow-y: auto; display: flex; flex-grow: 1; height: 50vh;">
    <nav class="d-flex flex-column flex-grow-1">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "Home", language?.Culture)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LearningProgress" Match="NavLinkMatch.All" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "LearningProgress", language?.Culture)
            </NavLink>
        </div>

        <p class="text-white-50">@LanguageSelect.GetStringSafely(Localizer, "Projects", language?.Culture)</p>
        <div class="nav-item px-3">
            <button class="nav-link" onclick="history.replaceState(null, '', document.location.href);document.location.assign('/WebSudoku/');">
                @LanguageSelect.GetStringSafely(Localizer, "Web Sudoku", language?.Culture)
            </button>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MetadataRename" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "Metadata Rename", language?.Culture)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="PlotAndIntegrate" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "Plot and Integrate", language?.Culture)
            </NavLink>
        </div>

        <p class="text-white-50">@LanguageSelect.GetStringSafely(Localizer, "Challenges", language?.Culture)</p>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="IntegerToRoman" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "Integer to Roman", language?.Culture)
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="CountAndSay" @onclick="ToggleNavMenu">
                @LanguageSelect.GetStringSafely(Localizer, "Count and Say", language?.Culture)
            </NavLink>
        </div>
        <div class="flex-grow-1">

        </div>
        <div class="nav-item px-3">
            <a class="ms-auto nav-link link-info" href="https://github.com/APB97/apb97.github.io" target="_blank">@Localizer["Code"]</a>
        </div>
        <div class="nav-item px-0">
            <div class="nav-link">
                <LanguageSelect @ref="language" />
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private LanguageSelect? language;

    public CultureInfo? Language => language?.Culture;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void CollapseNavMenu()
    {
        collapseNavMenu = true;
        StateHasChanged();
    }
}
