@using System.Globalization
@implements IDisposable
@inject APB97StringLocalizer<NavMenu> localization
@inject NavigationManager Navigation

@if (ShouldRender())
{
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <ABP97NavLink Style="color: white;" Href="/">APB97</ABP97NavLink>
            <button style="border: none; background-color: transparent; padding: 0;" @onclick="() => Layout.ToggleLayoutMode()">
                @if (Layout.LayoutMode == "Light")
                {
                    <div onclick="localStorage.setItem('LayoutMode', 'Dark')">
                        <img style="height: 2rem; filter: invert(0.95);" src="/images/dark.svg" />
                    </div>
                }
                else
                {
                    <div onclick="localStorage.setItem('LayoutMode', 'Light')">
                        <img style="height: 2rem; filter: invert(0.95);" src="/images/light.svg" />
                    </div>
                }
            </button>
            <HiddenForScreenWidth HideForWidthCondition="w => w > ScreenBreakpoints.Medium">
                <div>
                    <LanguageSelect />
                </div>
            </HiddenForScreenWidth>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass" style="overflow-y: auto; display: flex; flex-grow: 1; height: 50vh;">
        <nav class="d-flex flex-column flex-grow-1">
            <div class="nav-item px-3" @onclick="CollapseNavMenu">
                <ABP97NavLink Href="#aboutme">
                    @localization.Localize("About me")
                </ABP97NavLink>
            </div>

            <div class="nav-item px-3" @onclick="CollapseNavMenu">
                <ABP97NavLink Href="#projects">
                    @localization.Localize("Projects")
                </ABP97NavLink>
            </div>

            <div class="nav-item px-3" @onclick="CollapseNavMenu">
                <ABP97NavLink Href="#challenges" >
                    @localization.Localize("Challenges")
                </ABP97NavLink>
            </div>

            <div class="nav-item px-3" @onclick="CollapseNavMenu">
                <ABP97NavLink Href="#skills">
                    @localization.Localize("Skills")
                </ABP97NavLink>
            </div>

            <div class="nav-item px-3" @onclick="CollapseNavMenu">
                <ABP97NavLink Href="#learning">
                    @localization.Localize("LearningProgress")
                </ABP97NavLink>
            </div>
            
            <div class="flex-grow-1">

            </div>
            <div class="nav-item px-3">
                <a class="ms-auto nav-link link-info" href="https://github.com/APB97/apb97.github.io" target="_blank">@localization.Localize("Code")</a>
            </div>
            <div class="nav-item px-0">
                <div class="nav-link">
                    <HiddenForScreenWidth HideForWidthCondition="w => w <= ScreenBreakpoints.Medium">
                        <LanguageSelect />
                    </HiddenForScreenWidth>
                </div>
            </div>
        </nav>
    </div>
}

@code {
    [CascadingParameter]
    public required MainLayout Layout { get; set; }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void CollapseNavMenu()
    {
        collapseNavMenu = true;
        StateHasChanged();
    }

    protected override bool ShouldRender()
    {
        if (localization.Localization == null) return false;
        return base.ShouldRender();
    }

    protected override async Task OnInitializedAsync()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
    }

    protected override void OnInitialized()
    {
        MainLayout.OnStateChanging += GetResources;
    }

    void IDisposable.Dispose()
    {
        MainLayout.OnStateChanging -= GetResources;
    }

    private async Task GetResources()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
        StateHasChanged();
    }
}
