@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Projects> Localizer
@inject IJSRuntime JS

<h1 id="projects"><a href="#projects" class="text-black">@Localizer["Projects"]</a></h1>
<div class="d-flex">
    <div class="skill-card">
        <div class="text-center">
            <h5>Web Sudoku</h5>
        </div>
        <div class="text-center">
            <p class="text-center">@Localizer["Sudoku built with Blazor WebAssembly."] </p>
            <button class="text-center link-primary button-as-link" onclick="history.replaceState(null, '', document.location.href);document.location.assign('/WebSudoku/');">
                @Localizer["See it yourself here"]
            </button>
        </div>
    </div>
</div>

<div class="d-flex">
    <div class="skill-card">
        <div class="text-center">
            <h5>Metadata Rename</h5>
        </div>
        <div class="text-center">
            <p class="text-center">@Localizer["Rename based on metadata built with WPF."] </p>
            <a class="text-center link-primary" href="MetadataRename">@Localizer["See it yourself here"]</a>
        </div>
    </div>

    <div class="skill-card">
        <div class="text-center">
            <h5>Plot and Integrate</h5>
        </div>
        <div class="text-center">
            <p class="text-center">@Localizer["Plot and calculate definite integral of a function. Built with Windows Forms."] </p>
            <a class="text-center link-primary" href="PlotAndIntegrate">@Localizer["See it yourself here"]</a>
        </div>
    </div>
</div>

@code{
}
