@implements IDisposable
@inject APB97StringLocalizer<Projects> localization
@inject IJSRuntime JS

@if (ShouldRender())
{
    <AdjustedAnchorHeading Id="projects">@localization.Localize("Projects")</AdjustedAnchorHeading>
    <div class="d-flex" style="border: medium solid dodgerblue; margin: 2pt;">
        <div class="col-8 d-flex flex-column">
            <div class="text-center flex-grow-1">
                <a class="link-primary" onclick="history.replaceState(null, '', document.location.href);document.location.assign('/WebSudoku/');">
                    <span>Web Sudoku</span>
                </a>
                <p>@localization.Localize("Web Sudoku description")</p>
            </div>
            <div class="text-center">
                <div class="tags">
                    <span>@localization.Localize(".NET")</span>
                    <span>@localization.Localize("C#")</span>
                    <span>@localization.Localize("Blazor")</span>
                    <span>@localization.Localize("WebAssembly")</span>
                    <span>@localization.Localize("HTML")</span>
                    <span>@localization.Localize("CSS")</span>
                    <span>@localization.Localize("JS")</span>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div style="align-content: center">
                <img alt="Web Sudoku Screenshot" src="images/Screenshot - Web Sudoku.png" style="width: 100%;" />
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div style="border: medium solid darkslategray; margin: 2pt;">
            <div class="text-center">
                <a class="link-primary" href="MetadataRename"><span>Metadata Rename</span></a>
                <p>@localization.Localize("Rename based on metadata built with WPF.") </p>
            </div>
        </div>

        <div class="flex-grow-1" style="border: medium solid darkslategray; margin: 2pt;">
            <div class="text-center">
                <a class="link-primary" href="PlotAndIntegrate"><span>Plot and Integrate</span></a>
                <p>@localization.Localize("Plot and calculate definite integral of a function. Built with Windows Forms.") </p>
            </div>
        </div>
    </div>
}

@code{
    protected override bool ShouldRender()
    {
        if (localization.Localization == null) return false;
        return base.ShouldRender();
    }

    protected override async Task OnInitializedAsync()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await localization.InitializeAsync(LanguageSelect.Culture);
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        MainLayout.OnStateChanging += GetResources;
    }

    void IDisposable.Dispose()
    {
        MainLayout.OnStateChanging -= GetResources;
    }

    private async Task GetResources()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
        StateHasChanged();
    }
}
