@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Projects> Localizer
@inject IJSRuntime JS

<AdjustedAnchorHeading Id="projects">@Localizer["Projects"]</AdjustedAnchorHeading>
<div class="d-flex" style="border: medium solid dodgerblue; margin: 2pt;">
    <div class="col-8 d-flex flex-column">
        <div class="text-center flex-grow-1">
            <h5>Web Sudoku</h5>
            <p>@Localizer["Web Sudoku description"]</p>
            <button class="link-primary button-as-link" onclick="history.replaceState(null, '', document.location.href);document.location.assign('/WebSudoku/');">
                @Localizer["See it yourself here"]
            </button>
        </div>
        <div class="text-center">
            <div class="tags">
                <span>@Localizer[".NET"]</span>
                <span>@Localizer["C#"]</span>
                <span>@Localizer["Blazor"]</span>
                <span>@Localizer["WebAssembly"]</span>
                <span>@Localizer["HTML"]</span>
                <span>@Localizer["CSS"]</span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div style="align-content: center">
            <img src="images/Screenshot - Web Sudoku.png" style="width: 100%;" />
        </div>
    </div>
</div>

<div class="d-flex">
    <div class="skill-card">
        <div class="text-center">
            <h5>Metadata Rename</h5>
        </div>
        <div class="text-center">
            <p>@Localizer["Rename based on metadata built with WPF."] </p>
            <a class="link-primary" href="MetadataRename">@Localizer["See it yourself here"]</a>
        </div>
    </div>

    <div class="skill-card">
        <div class="text-center">
            <h5>Plot and Integrate</h5>
        </div>
        <div class="text-center">
            <p>@Localizer["Plot and calculate definite integral of a function. Built with Windows Forms."] </p>
            <a class="link-primary" href="PlotAndIntegrate">@Localizer["See it yourself here"]</a>
        </div>
    </div>
</div>

@code{
}
