@implements IDisposable
@inject APB97StringLocalizer<Skills> localization

@if (ShouldRender())
{
    <AdjustedAnchorHeading Id="skills" Heading="@localization.Localize("Skills")">
        <div class="row">
            <div class="skill-card">
                <div class="d-flex">
                    <div class="flex-grow-1"></div>
                    <h4 class="text-center" style="margin-left: 2pt;">@localization.Localize("Application Development")</h4>
                    <div class="flex-grow-1"></div>
                </div>
                <div class="d-flex flex-row flex-skills">
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>ASP.NET Core</span>
                        </li>
                        <li>
                            <span>WPF</span>
                        </li>
                        <li>
                            <span>Windows Forms</span>
                        </li>
                        <li>
                            <span>.NET 8</span>
                        </li>
                    </ul>
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>@localization.Localize("Web")</span>
                        </li>
                        <li>
                            <span>@localization.Localize("Desktop")</span>
                        </li>
                        <li>
                            <span>C# 12</span>
                        </li>
                        <li>
                            <span>Git</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="skill-card">
                <h4 class="text-center">@localization.Localize("Patterns and Frameworks")</h4>

                <div class="d-flex flex-row flex-skills">
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>ASP.NET Core</span>
                        </li>
                        <li>
                            <span>Entity Framework Core</span>
                        </li>
                        <li>
                            <span>@localization.Localize("Code First")</span>
                        </li>
                        <li>
                            <span>MVVM</span>
                        </li>
                    </ul>
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>MVC</span>
                        </li>
                        <li>
                            <span>ORM</span>
                        </li>
                        <li>
                            <span>@localization.Localize("Dependency Injection")</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="skill-card">
                <h4 class="text-center">@localization.Localize("Web Development")</h4>
                <div class="d-flex flex-row flex-skills">
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>ASP.NET Core</span>
                        </li>
                        <li>
                            <span>Blazor</span>
                        </li>
                        <li>
                            <span>.NET 8 & C# 12</span>
                        </li>
                    </ul>
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>HTML</span>
                        </li>
                        <li>
                            <span>CSS</span>
                        </li>
                        <li>
                            <span>@localization.Localize("Client-side JavaScript")</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="skill-card">
                <h4 class="text-center">@localization.Localize("Useful Technologies")</h4>
                <div class="d-flex flex-row flex-skills">
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>SQL</span>
                        </li>
                        <li>
                            <span>GraphQL</span>
                        </li>
                        <li>
                            <span>HTML</span>
                        </li>
                        <li>
                            <span>CSS</span>
                        </li>
                        <li>
                            <span>Linux</span>
                        </li>
                        <li>
                            <span>Podman</span>
                        </li>
                    </ul>
                    <ul class="p-0" style="list-style-type: none;">
                        <li>
                            <span>PostgreSQL</span>
                        </li>
                        <li>
                            <span>JSON</span>
                        </li>
                        <li>
                            <span>JavaScript</span>
                        </li>
                        <li>
                            <span>YAML</span>
                        </li>
                        <li>
                            <span>@localization.Localize("Containers")</span>
                        </li>
                        <li>
                            <span>Docker</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </AdjustedAnchorHeading>
}

@code {
    protected override bool ShouldRender()
    {
        if (localization.Localization == null) return false;
        return base.ShouldRender();
    }

    protected override async Task OnInitializedAsync()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
    }

    protected override void OnInitialized()
    {
        MainLayout.OnStateChanging += GetResources;
    }

    void IDisposable.Dispose()
    {
        MainLayout.OnStateChanging -= GetResources;
    }

    private async Task GetResources()
    {
        await localization.InitializeAsync(LanguageSelect.Culture);
        StateHasChanged();
    }
}