@page "/LearningProgress"

@using Microsoft.Extensions.Localization
@inject IStringLocalizer<LearningProgress> Localizer

<PageTitle>@Localizer["LearningProgress"]</PageTitle>

<h2>@Localizer["LearningProgress"]</h2>

<ul>
    <li>
        <h3>@Localizer["Year2022-last-weeks"]</h3>
        <ul>
            <li>
                <h4>C#</h4>
                <ul>
                    <li>
                        <b>@Localizer["Extended property pattern"]</b>
                        <br/>
                        <p>@Localizer["Extended property pattern description"]</p>
                        <b>@Localizer["Example"]</b>
                        <br/>
                        <code>
                            // based on example from https://learn.microsoft.com/en-us/dotnet/csharp/language-reference/operators/patterns#property-pattern <br/>
                            public record Point2D(int X, int Y); <br />
                            public record Line2D(Point Start, Point End); <br />
                            <br />
                            static bool IsAnyEndOnAnyAxis(Line2D line) => <br />
                            &nbsp;&nbsp;&nbsp;&nbsp; line is { Start.X: 0 } or { Start.Y: 0 } or { End.X: 0 } or { End.Y: 0 };<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp; // older syntax: line is { Start { X : 0 } } or ...
                        </code>
                    </li>
                    <li>
                        <b>@Localizer["Global using directive"]</b>
                        <br/>
                        <p>@Localizer["Global using directive description"]</p>
                        <b>@Localizer["Example"]</b>
                        <br/>
                        <code>
                            global using apb97.github.io.Shared;
                        </code>
                        <p/>
                    </li>
                    <li>
                        <b>@Localizer["File-scoped namespace declaration"]</b>
                        <br/>
                        <p>@Localizer["File-scoped namespace declaration description"]</p>
                        <b>@Localizer["Example"]</b>
                        <br/>
                        <code>
                            namespace apb97.github.io.Shared;<br/>
                            <br/>
                            public class MyClass<br/>
                            {<br/>
                            &nbsp;&nbsp;&nbsp;&nbsp;// code omitted<br/>
                            }
                        </code>
                        <p/>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
