@inject SettingsService settingsService

<LocalizedComponent T="PrintSettings" Context="Loc">
    <button class="btn btn-primary"
        hidden="@Loc.IsLoading"
        style="margin: 2pt;"
        @onclick="() => showPrintSettings = !showPrintSettings">@(showPrintSettings ? @Loc["Hide"] : @Loc["Show"]) @Loc["Print settings"]</button>

    @if (showPrintSettings)
    {
        <div hidden="@Loc.IsLoading">
            <h6><b>@Loc["Print settings"]</b></h6>

            <div class="d-flex">
                <InputCheckbox Value="printFilledValues" ValueExpression="() => printFilledValues" ValueChanged="PrintFilledValuesChanged" />
                <label @onclick="() => PrintFilledValuesChanged(!printFilledValues)" class="user-select-none">@Loc["Print filled values"]</label>
            </div>
            @if (printFilledValues)
            {
                <div class="d-flex">
                    <InputCheckbox Value="printHighlightedErrors" ValueExpression="() => printHighlightedErrors" ValueChanged="PrintHighlightedErrorsChanged" />
                    <label @onclick="() => PrintHighlightedErrorsChanged(!printHighlightedErrors)" class="user-select-none">@Loc["Print highlighted errors"]</label>
                </div>
            }
        </div>
    }

    @if (printHighlightedErrors && printFilledValues)
    {
        <style>
            @@media print{
                .input-editable.error-highlight {
                    --cell-error-highlight: rgb(255, 95, 95) !important;
                }
            }
        </style>
    }
    @if (printFilledValues)
    {
        <style>
            @@media print {
                .input-editable {
                    --cell-editable-text-color: gray !important;
                }
            }
        </style>
    }
</LocalizedComponent>

@code {
    private bool showPrintSettings;

    private bool printHighlightedErrors;

    private bool printFilledValues;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await LoadSetting(v => printFilledValues = v, SettingsService.PrintFilledValues);
        await LoadSetting(v => printHighlightedErrors = v, SettingsService.PrintHighlightedErrors);
    }

    private async Task LoadSetting(Action<bool> setting, string key)
    {
        var value = await settingsService.GetBoolAsync(key);
        setting.Invoke(value);
    }

    private async Task PrintFilledValuesChanged(bool toggle)
    {
        printFilledValues = toggle;
        await settingsService.UpdateSettingAsync(SettingsService.PrintFilledValues, toggle);
    }

    private async Task PrintHighlightedErrorsChanged(bool toggle)
    {
        printHighlightedErrors = toggle;
        await settingsService.UpdateSettingAsync(SettingsService.PrintHighlightedErrors, toggle);
    }
}
